{"http_interactions":[{"request":{"method":"get","uri":"https://www.googleapis.com/analytics/v3/management/accounts","body":"","headers":{"Authorization":["Bearer ya29.AHES6ZSw3j6NfON_gJdtG6bHrU4bh3gPsRd945judH-Umg"]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"0EbX2LGJDld9q3PnatPaRNNGQuE/UNg6FqWjVerwqN5evPh2D46-vAo\""], "content-type":["application/json; charset=UTF-8"]},"body":"{\"kind\":\"analytics#accounts\",\"username\":\"tpitale@gmail.com\",\"totalResults\":6,\"startIndex\":1,\"itemsPerPage\":1000,\"items\":[{\"id\":\"1189765\",\"kind\":\"analytics#account\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765\",\"name\":\"ICS\",\"created\":\"2007-01-14T09:44:38.000Z\",\"updated\":\"2011-07-26T17:33:04.015Z\",\"childLink\":{\"type\":\"analytics#webproperties\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties\"}},{\"id\":\"3879168\",\"kind\":\"analytics#account\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/3879168\",\"name\":\"Personal\",\"created\":\"2008-03-15T00:03:57.000Z\",\"updated\":\"2010-03-02T16:36:02.884Z\",\"childLink\":{\"type\":\"analytics#webproperties\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/3879168/webproperties\"}},{\"id\":\"7471517\",\"k[...]
