{"http_interactions":[{"request":{"method":"get","uri":"https://www.googleapis.com/analytics/v3/management/accounts/~all/webproperties/~all/profiles","body":"","headers":{"Authorization":["Bearer ya29.AHES6ZSw3j6NfON_gJdtG6bHrU4bh3gPsRd945judH-Umg"]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"0EbX2LGJDld9q3PnatPaRNNGQuE/b64HzQHPH7LaksA_n9YpboKT6LI\""], "content-type":["application/json; charset=UTF-8"]},"body":"{\"kind\":\"analytics#profiles\",\"username\":\"tpitale@gmail.com\",\"totalResults\":12,\"startIndex\":1,\"itemsPerPage\":1000,\"items\":[{\"id\":\"4506212\",\"kind\":\"analytics#profile\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-4/profiles/4506212\",\"accountId\":\"1189765\",\"webPropertyId\":\"UA-1189765-4\",\"internalWebPropertyId\":\"4382400\",\"name\":\"winepos.com\",\"currency\":\"USD\",\"timezone\":\"America/New_York\",\"created\":\"2007-08-15T20:52:48.000Z\",\"updated\":\"2011-09-26T20:19:47.239Z\",\"parentLink\":{\"type\":\"analytics#webproperty\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-4\"},\"childLink\":{\"type\":\"analytics#goals\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-4/profiles/4506212/goals\"}},{\"id\":\"25452496\",\"kind\":\"analytics#profile\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-4/profiles/25452496\",\"accountId\":\"1189765\",\"webPropertyId\":\"UA-1189765-4\",\"internalWebPropertyId\":\"4382400\",\"name\":\"Viget - PPC - Full Keywords\",\"currency\":\"[...]
