{"http_interactions":[{"request":{"method":"get","uri":"https://www.googleapis.com/analytics/v3/management/accounts/~all/webproperties","body":"","headers":{"Authorization":["Bearer ya29.AHES6ZRlyIGNZ_9Tky-phXxJwGv_WLlxfYdssHorZe1kOKflIx0"]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"QSKTfyS6-WTn9GTTvjBFwUAlqVs/J1ZHjO9pGojDUsN3NRVVeB821lc\""], "content-type":["application/json; charset=UTF-8"]},"body":"{\"kind\":\"analytics#webproperties\",\"username\":\"tpitale@gmail.com\",\"totalResults\":22,\"startIndex\":1,\"itemsPerPage\":1000,\"items\":[{\"id\":\"UA-1189765-1\",\"kind\":\"analytics#webproperty\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-1\",\"accountId\":\"1189765\",\"internalWebPropertyId\":\"2071188\",\"name\":\"http://spirit76wines.com\",\"websiteUrl\":\"http://spirit76wines.com\",\"created\":\"2007-01-14T09:44:38.000Z\",\"updated\":\"2010-03-02T16:09:09.110Z\",\"parentLink\":{\"type\":\"analytics#account\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765\"},\"childLink\":{\"type\":\"analytics#profiles\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-1/profiles\"}},{\"id\":\"UA-1189765-2\",\"kind\":\"analytics#webproperty\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-2\",\"accountId\":\"1189765\",\"internalWebPropertyId\":\"2096215\",\"name\":\"http://vision-kiosk.gotdns.org\",\"websiteUrl\":\"http://vision-kiosk.gotdns.org\",\"created\":\"2007[...]
