{"http_interactions":[{"request":{"method":"get","uri":"https://www.googleapis.com/analytics/v3/management/accounts/~all/webproperties","body":"","headers":{"Authorization":["Bearer ya29.AHES6ZSw3j6NfON_gJdtG6bHrU4bh3gPsRd945judH-Umg"]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"0EbX2LGJDld9q3PnatPaRNNGQuE/S5ErJ7IbSKINt7rcrab8XkGZd64\""], "content-type":["application/json; charset=UTF-8"]},"body":"{\"kind\":\"analytics#webproperties\",\"username\":\"tpitale@gmail.com\",\"totalResults\":11,\"startIndex\":1,\"itemsPerPage\":1000,\"items\":[{\"id\":\"UA-1189765-4\",\"kind\":\"analytics#webproperty\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-4\",\"accountId\":\"1189765\",\"internalWebPropertyId\":\"4382400\",\"name\":\"http://www.ics-nj.com\",\"websiteUrl\":\"http://www.ics-nj.com\",\"created\":\"2007-08-15T20:52:48.000Z\",\"updated\":\"2010-03-02T16:09:09.095Z\",\"parentLink\":{\"type\":\"analytics#account\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765\"},\"childLink\":{\"type\":\"analytics#profiles\",\"href\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-4/profiles\"}},{\"id\":\"UA-1189765-6\",\"kind\":\"analytics#webproperty\",\"selfLink\":\"https://www.googleapis.com/analytics/v3/management/accounts/1189765/webproperties/UA-1189765-6\",\"accountId\":\"1189765\",\"internalWebPropertyId\":\"13754386\",\"name\":\"http://support.winepos.com\",\"websiteUrl\":\"http://support.winepos.com\",\"created\":\"2009-01-26T[...]
