language: ruby
sudo: false
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.2
  - 2.2.2
script: bundle exec rspec spec
notifications:
  webhooks:
    urls:
      - "https://pitaleerb.slack.com/services/hooks/travis?token=wNtbVP9B3j1npZkLzK4bpq8Q"
      - "https://webhooks.gitter.im/e/064c90f277ac13f3dd7c"
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
