{"http_interactions":[{"request":{"method":"get","uri":"https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A4506212&dimensions=ga%3AoperatingSystem&metrics=ga%3Apageviews%2Cga%3Aexits&start-date=2011-11-25&end-date=2011-12-25","body":"","headers":{"Authorization":["Bearer ya29.AHES6ZREobGegWLc3tyxuuQAkKF7lg071UgpTeLe_4jTcV35uW8"]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"0EbX2LGJDld9q3PnatPaRNNGQuE/BN2gqmtHuRze0Z-7OmYT8n75tHA\""], "content-type":["application/json; charset=UTF-8"]},"body":"{\"kind\":\"analytics#gaData\",\"id\":\"https://www.googleapis.com/analytics/v3/data/ga?ids=ga:4506212&dimensions=ga:operatingSystem&metrics=ga:pageviews,ga:exits&start-date=2011-11-25&end-date=2011-12-25&start-index=1&max-results=1000\",\"query\":{\"start-date\":\"2011-11-25\",\"end-date\":\"2011-12-25\",\"ids\":\"ga:4506212\",\"dimensions\":\"ga:operatingSystem\",\"metrics\":[\"ga:pageviews\",\"ga:exits\"],\"start-index\":1,\"max-results\":1000},\"itemsPerPage\":1000,\"totalResults\":10,\"selfLink\":\"https://www.googleapis.com/analytics/v3/data/ga?ids=ga:4506212&dimensions=ga:operatingSystem&metrics=ga:pageviews,ga:exits&start-date=2011-11-25&end-date=2011-12-25&start-index=1&max-results=1000\",\"profileInfo\":{\"profileId\":\"4506212\",\"accountId\":\"1189765\",\"webPropertyId\":\"UA-1189765-4\",\"internalWebPropertyId\":\"4382400\",\"profileName\":\"winepos.com\",\"tableId\":\"ga:4506212\"},\"containsSampledData\":false,\"columnHeaders\":[{\"name\":\"ga:operatingSystem\",\"columnType\":\"DIMENSION\",\"dataType\":\"STRING\"},{\"name\":\"ga:pageviews\",\"columnType\":\"METRIC\",\"dataType\":\"INTEGER\"},{\"name\":\"ga:exits\",\"columnType\":\"METRIC\",\"dataType\":\"INTEGER\"}],\"totalsForAllResults\":{\"ga:pageviews\":\"3560\",\"ga:exits\":\"1714\"},\"rows\":[[\"(not set)\",\"15\",\"11\"],[\"Android\",\"79\",\"71\"],[\"BlackBerry\",\"3\",\"2\"],[\"Linux\",\"10\",\"7\"],[\"Macintosh\",\"412\",\"169\"],[\"Windows\",\"2896\",\"1382\"],[\"Windows Phone\",\"1\",\"1\"],[\"iPad\",\"100\",\"49\"],[\"iPhone\",\"43\",\"21\"],[\"iPod\",\"1\",\"1\"]]}","http_version":null},"recorded_at":"Sun, 25 Dec 2011 17:10:58 GMT"},{"request":{"method":"get","uri":"https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A4506212&dimensions=ga%3AoperatingSystem&metrics=ga%3Apageviews%2Cga%3Aexits&start-date=2011-11-26&end-date=2011-12-26","body":"","headers":{"Authorization":["Bearer ya29.AHES6ZREobGegWLc3tyxuuQAkKF7lg071UgpTeLe_4jTcV35uW8"]}},"response":{"status":{"code":401,"message":null},"headers":{"www-authenticate":["AuthSub realm=\"https://www.google.com/accounts/AuthSubRequest\" allowed-scopes=\"https://www.googleapis.com/auth/analytics.readonly\""], "content-type":["application/json; charset=UTF-8"]},"body":"{\"error\":{\"errors\":[{\"domain\":\"global\",\"reason\":\"authError\",\"message\":\"Invalid Credentials\",\"locationType\":\"header\",\"location\":\"Authorization\"}],\"code\":401,\"message\":\"Invalid Credentials\"}}","http_version":null},"recorded_at":"Mon, 26 Dec 2011 17:10:19 GMT"}],"recorded_with":"VCR 2.0.0.beta2"}